* {
    font-family: 'Poppins', sans-serif;
}


a{
    color:grey;
    transition:color 0.2s ease-in-out;
}

a:hover{
    color:black;
    text-decoration:none;
}


li:hover{
    text-decoration: none;
}

.navbar-brand{
    transition: transform 0.2s ease-in-out;
}

.navbar-brand:hover{
    transform: scale3d(1.1, 1.1, 1.1);

}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-grow {
    margin: 0 5px;
}


input[type='email']{
    text-transform:lowercase;
}